/* Light Mode */
.light .header,
.light .footer,
.light .content {
  background-color: #ffffff; /* Change white background areas */
  color: #000000; /* Adjust text color for visibility */
}

/* Dark Mode */
.dark .header,
.dark .footer,
.dark .content {
  background-color: #333333; /* Example dark background */
  color: #ffffff; /* Example light text color */
}

/* Classic Mode */
.classic .header,
.classic .footer,
.classic .content {
  background-color: #b16305; /* Example classic mode background */
  color: #ffffff; /* Example light text color */
}

/* Color Mode */
.color .header,
.color .footer,
.color .content {
  background-color: rgb(130, 228, 50); /* Example color mode background */
  color: #000000; /* Example text color */
}
